In [1]:
a="hello world"


"r" in a

True

In [2]:
a=[1,2,3,4,5,6]
a[0]

1

In [3]:
a=(1,2,3,4,56,7)


for i in a:
    if i%2==0:
        print(i)
    else:
        print("bye")

bye
2
bye
4
56
bye

In [4]:
s1='a'
for i in range(5): #0 1 2 3 4
    print(s1*i)

a
aa
aaa
aaaa

In [6]:
st="iit madras"
for t in st:
    print(t,end="@") #\n new line\t for tabbed spaces

i@i@t@ @m@a@d@r@a@s@

In [7]:
a="hello everyone how are you"
vowel=["a","i","e","o","u"]
for i in a:
    if i in vowel:
        print(i)

e
o
e
e
o
e
o
a
e
o
u

In [11]:
word="hello1"
for w in word:
    if w=="l":
        print("good one")
else:
    print("data science")

good one
good one
data science

In [14]:
name="arpit"


for i in name:
    if i=="p":
        print("that's great")
    print(i)
    print("hello")

print(i)

a
hello
r
hello
that's great
p
hello
i
hello
t
hello
t

In [15]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i%2==0:
        print("even",i)
    print("good")

good
even 2
good
good
even 4
good
good
even 6
good
good
even 8
good
good

In [18]:
se=0
so=0
for i in range(1,100):
    if i%2==0:
        se=se+i
    else:
        so=so+i
print("the sum of even number is",se)
print("the sum of odd number is",so)

the sum of even number is 2450
the sum of odd number is 2500

In [20]:
# palindrome number
#121----121

n= int(input("enter the number"))
rev=0
n1=n
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if n1==rev:
    print("Palindrome Number")
else:
    print("Not Palindrome")

enter the number 656

Palindrome Number

In [21]:
# print all pallindrome number from 11--999

for i in range(11,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if rev==i:
        print(i,end="")

112233445566778899101111121131141151161171181191202212222232242252262272282292303313323333343353363373383393404414424434444454464474484494505515525535545555565575585595606616626636646656666676686696707717727737747757767777787797808818828838848858868878888898909919929939949959969979989999