In [1]:
#for loop

for i in"vishwajeet":
    print(i)

v
i
s
h
w
a
j
e
e
t

In [2]:
for i in "Vishwajeet":
    print(i,end="")

Vishwajeet

In [3]:
for i in[12,23,34,44,55,66,77,8]: #list
    print(i)

12
23
34
44
55
66
77
8

In [4]:
for i in (12,23,34,45,56,67):  #tuple
    print(i)

12
23
34
45
56
67

In [5]:
for i in {12,23,34,44}:   #set
    print(i)

34
12
44
23

In [6]:
for i in {"Name":"aviral","age":29}:  #dictionary
    print(i)

Name
age

In [7]:
range(10)

range(0, 10)

In [8]:
for i in range(10):
    print(i,end="")

0123456789

In [9]:
for i in  range(1,10):
    print(i,end="")

123456789

In [10]:
for i in range(1,100,3):
    print(i,end="")

147101316192225283134374043464952555861646770737679828588919497

In [11]:
for i in range(100,0,-1):
    print(i,end="")

100999897969594939291908988878685848382818079787776757473727170696867666564636261605958575655545352515049484746454443424140393837363534333231302928272625242322212019181716151413121110987654321

In [12]:
# print your name 10 times

for i in range(10):
    print("Vishwajeet")

Vishwajeet
Vishwajeet
Vishwajeet
Vishwajeet
Vishwajeet
Vishwajeet
Vishwajeet
Vishwajeet
Vishwajeet
Vishwajeet

In [13]:
# print first 10 natural numbers

for i in range(1,11):
    print(i,end="")

12345678910

In [14]:
for i in range(3):
    print(i)

0
1
2

In [15]:
for i in range(10):
    print(i,"","vishwajeet")

0  vishwajeet
1  vishwajeet
2  vishwajeet
3  vishwajeet
4  vishwajeet
5  vishwajeet
6  vishwajeet
7  vishwajeet
8  vishwajeet
9  vishwajeet

In [16]:
#print sum of first 10 natural no.

s=0
for i in range(1,11):
    s=s+i
print("the sum is",s)

the sum is 55

In [17]:
#s=s+i
#s=0+1=1
#s=1+2=3
#s=3+3=6

In [18]:
# print only even number for 1 to 100

for i in range(2,102,2):
    print(i,end="")

2468101214161820222426283032343638404244464850525456586062646668707274767880828486889092949698100

In [19]:
for i in range(1,101):
    if i%2==0:
        print(i,end="")

2468101214161820222426283032343638404244464850525456586062646668707274767880828486889092949698100

In [20]:
# table of agiven number

n=int(input("enter the number"))

for i in range (1,11):
    print(n,"*",i,"=",n*i)

enter the number 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [24]:
# factorial of agiven number

n=int(input("enter the number"))
f=1

for i in range(1,n+1):
    f=f*i
print("factorial is",f)

enter the number 5

factorial is 120

In [22]:
#f=f*i
#f=1*1=1
#f=1*2=2
#f=2*3=6
#f=6*4=24
#f=24*5=120